:root {
  --font: #262ebf;
}

/* O que será escrito */
.separador {
  font-size: 1.5rem;
  font-weight: 600;
  padding: 1rem;
  color: var(--font);
  letter-spacing: 1px;
  border-bottom: 3px solid var(--font);
}

/* Responsivo de tamanho */
@media screen and (min-width: 500px) {
  .separador {
    font-size: 2rem;
  }
}
