/* Toda essa primeira parte de CSS é feita para o mobilefirst */

/* Cores que serão usadas */
:root {
  --cardbg: #f2f2f2;
  --font: #262ebf;
  --sombra: #7e82d9;
}

/* Wrapper dos cartões */
.cardWrapper {
  display: flex;
  flex-direction: column;
  margin: 1.1rem 0.5rem 1.1rem 1.1rem;
}

/* Container das informações dos cartões */
.cardContainer {
  display: flex;
  background-color: var(--cardbg);
  color: var(--font);
  gap: 1.5rem;
  /* Sombra */
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
  max-width: 499px;
  border-radius: 5%;
  transition: 0.5s;
}
.cardContainer:hover {
  background-color: var(--font);
  color: var(--cardbg);
}

/* Foto */
.profileImg {
  /* Mudar para rem depois */
  width: 120px;
  height: 120px;
  clip-path: circle(60px at center);
  margin: 1.2rem 0;
  object-fit: cover;
}

/* Botão de Menu */
.menuBtn {
  width: 1rem;
  height: 2rem;
  padding: 0.5rem 0.5rem;
  margin: -0.5rem 0rem;
  cursor: pointer;
  font-size: 2rem;
  letter-spacing: 1px;
  border: none;
  background: none;
}
.menuBtn:hover {
  color: var(--cardbg);
}

.active {
  background-color: red;
}

.listaOpc {
  opacity: 100;
}
/* Container com as informações escritas do usuario */

.infoContainer {
  margin: 1.3rem 0rem;
  display: flex;
  flex-direction: column;
  gap: 8px;
  height: 104px;
}

/* Nome */

.nome {
  font-size: 1rem;
}

/* Cargo */
.cargo {
  width: 62px;
  font-weight: 700;
  font-size: 1rem;
}

/* Telefone e email */

.numeroTelefone,
.email {
  font-size: 0.9rem;
  font-weight: 600;
}

/* hover sublinhado no telefone e email */
.numeroTelefone:hover {
  text-decoration: underline;
  cursor: pointer;
}
.email:hover {
  text-decoration: underline;
  cursor: pointer;
}

/* Icone de telefone */
.numeroTelefone::before {
  content: "";
  display: block;
  float: left;
  background: url("../../icons/phone-icon.png");
  width: 16px;
  height: 16px;
  margin-top: 3px;
  margin-right: 6px;
}

/* icone de email */
.email::before {
  content: "";
  display: block;
  float: left;
  background: url("../../icons/email-icon.png");
  width: 16px;
  height: 16px;
  margin-right: 6px;
}

/* Responsivo para Tablet */

@media screen and (min-width: 500px) {
  .cardWrapper {
    display: flex;
    flex-wrap: wrap;
  }

  .cardContainer {
    margin-top: 0.5rem;
    display: block;
    width: 288px;
    height: 353px;
  }

  .cardContainer:hover {
    box-shadow: 20px 2px 2px var(--sombra);
  }

  .menuBtn {
    margin-left: 1rem;
    font-size: 2.2rem;
  }

  /* Aumentar o tamanho da imagem */
  .profileImg {
    width: 150px;
    height: 150px;
    display: block;
    margin: 0 auto;
  }

  /* Diminuir a margem entre a imagem e o container de info */

  .infoContainer {
    justify-content: center;
    text-align: center;
    margin-top: 1rem;
  }
  .nome {
    font-size: 24px;
  }
  .cargo {
    width: inherit;
    font-size: 1rem;
  }

  .numeroTelefone,
  .email {
    font-size: 1rem;
    margin-top: 0.1rem;
  }
  /* centralizar considerando o tamanho do icone */
  .numeroTelefone {
    margin-right: 16px;
  }

  .numeroTelefone::before {
    content: "";
    display: inline-block;
    float: none;
    transform: translate(0px, 25%);
  }

  /* centralizar considerando o tamanho do icone */
  .email {
    text-align: center;
  }

  .email::before {
    content: "";
    display: inline-block;
    float: none;
    transform: translate(0px, 20%);
  }
}
